<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		
		<!-- NASTAVENI PRISTUPU DO DB -->
		<property name="hibernate.connection.url">jdbc:oracle:thin:@ora1.uhk.cz:1521:orcl</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.connection.password">DB2pokorja1</property>
		<property name="hibernate.connection.username">DB2pokorja1</property>
		
		<!-- DALSI NASTAVENI HIBERNATE -->
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.pool_size">10</property>


		<!-- ENTITY -->
		<mapping class="Adresa" package="com.popkyss.sweetShop.entity" />
		<mapping class="Data" package="com.popkyss.sweetShop.entity" />
		<mapping class="Dodavatel" package="com.popkyss.sweetShop.entity" />
		<mapping class="Dodavka" package="com.popkyss.sweetShop.entity" />
		<mapping class="Kosik" package="com.popkyss.sweetShop.entity" />
		<mapping class="Logger" package="com.popkyss.sweetShop.entity" />
		<mapping class="Objednavka" package="com.popkyss.sweetShop.entity" />
		<mapping class="Oblibene" package="com.popkyss.sweetShop.entity" />
		<mapping class="Polozka" package="com.popkyss.sweetShop.entity" />
		<mapping class="Produkt" package="com.popkyss.sweetShop.entity" />
		<mapping class="Role" package="com.popkyss.sweetShop.entity" />
		<mapping class="Skupina" package="com.popkyss.sweetShop.entity" />
		<mapping class="Sleva" package="com.popkyss.sweetShop.entity" />
		<mapping class="Zakaznik" package="com.popkyss.sweetShop.entity" />
		<mapping class="Zamestnanec" package="com.popkyss.sweetShop.entity" />
		<mapping class="Znacka" package="com.popkyss.sweetShop.entity" />

		<mapping resource="com/popkyss/sweetShop/entity/orm.xml" />
	</session-factory>
</hibernate-configuration>
